.work-card-container {
    position: relative;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .work-card-border {
    border-radius: 8px;
    animation: borderAnimation 2s linear infinite;
  }
  
  @keyframes borderAnimation {
    0% {
      transform: translateX(-100%) translateY(0);
    }
    50% {
      transform: translateX(0) translateY(100%);
    }
    100% {
      transform: translateX(100%) translateY(0);
    }
  }